[submodule "bin"]
	path = bin
	url = git@github.com:totalpaveinc/sqlite-bin.git
[submodule "build-tools/public"]
	path = build-tools/public
	url = https://github.com/totalpaveinc/build-tools-public.git
