
out
.deps
*.log
gradlew
gradlew.bat
*.tmp
.libs
.gradle
android/sqlite3/build
android/sqlite3/gradle
*.so
*.cache
config.status
/src/sqlite/libtool
/src/sqlite/Makefile
*.aar
*.idea
android/gradle
test/android/gradle
test/android/gradle/wrapper
*.pc
*.jar
build
*.db
test/ios/sqlitetest/sqlitetest.xcodeproj/project.xcworkspace/xcuserdata/
test/ios/sqlitetest/sqlitetest.xcodeproj/xcuserdata/
android/local.properties