.DS_Store
out
.deps
*.log
gradlew
gradlew.bat
*.tmp
.libs
.gradle
android/sqlite3/build
android/sqlite3/gradle
*.so
*.cache
config.status
/src/sqlite/libtool
/src/sqlite/Makefile
*.aar
*.idea
android/gradle
test/android/gradle
test/android/gradle/wrapper
*.pc
*.jar
build
*.db
android/local.properties
android/publishing.properties
xcuserdata
ios/build
/ios/info.plist
ios/Logs
ios/*.noindex
/android/sqlite3/.cxx
