
out
.deps
*.log
gradlew
gradlew.bat
*.tmp
.libs
.gradle
android/sqlite3/build
android/sqlite3/gradle
*.so
*.cache
config.status
/src/sqlite/libtool
/src/sqlite/Makefile
*.aar
*.idea
test/android/gradle/wrapper
*/xcuserdata/*
